<html>
    <head>
        <title>{% block title %}{% endblock %} </title>
        {% include 'snippets/css.html' %}
    </head>
    <body>
        
    <div class="page-header">
        <h1><a href="/">Lango {% block abc %} {% endblock %}</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    {% include 'snippets/js.html' %}
</body>
</html>